 <!--Email Opt In -->
 <section class="contenedor-email-optIn">
    <section class='contenido-optin'>
        <section class='contenedor-textos'>
            <section class='textos'>
                <p class='main-title'>Suscribite a nuestro newsletter</p>
            </section>
            <section class='textos'>
                <p class='newsletter-p'>Y accedé a los mejores descuentos para mejorar tu salud y productividad.</p>
            </section>
        </section>
        <form class=email-optIn>
            <div class="contenedor-input">
                <input id="input-email" class='text-input' type='email' id='email' placeholder="ejemplo@ejemplo.com" name='email'>
            </div>
            <div class="contenedor-input">
                <button class= "button-email" type='submit' id='boton-enviar'>Enviar</button>
            </div>
        </form>
    </section>
</section>
<!--Pie de pagina -->
<footer>
    <section class='top-desktop-footer'>
        <section class='left-desktop-footer'>
            <figure class='contenedor-logo-footer'>
                <a href='/'><img class='logo-footer' src="../../images/logo-blanco-transparente.png" alt="logoErgoworld"></a>
            </figure>
            <figure class='contenedor-redes-sociales-footer'>
                <a class='icon-social-media' href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a class='icon-social-media' href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></i></a>
                <a class='icon-social-media' href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a class='icon-social-media' href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                <a class='icon-social-media' href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
            </figure>
        </section>
        <section class="contenedor-botones-footer">
            <section class='left-boton'>
                <div class='boton-footer'>
                    <a class='contenido-boton-footer' href='/'>SHOP NOW <i class="fas fa-chevron-right"></i></i></a>
                </div>
                <% if (!locals.isLogged) { %>

                <div class='boton-footer'>
                    <a class='contenido-boton-footer' href='/usuario/register'>REGISTRATE <i id='arrow' class="fas fa-chevron-right"></i></i></a>
                </div>
                <% } %>
            </section>
            <section class='right-boton'>
                <div class='boton-footer'>
                    <a class='contenido-boton-footer' href='/usuario/login'>MI CUENTA <i class="fas fa-chevron-right"></i></i></a>
                </div>
                <div class='boton-footer'>
                    <a class='contenido-boton-footer' href='/productCart'>CARRITO <i class="fas fa-chevron-right"></i></i></a>
                </div>
            </section>
        </section>
    </section>
    <section class='bottomDesktop'>
        <section class='avisos-legales-footer'>
            <p class='footer-p'>El contenido de este sitio web no debe considerarse consejo médico ni pretende serlo, su única finalidad es educativa.</p>
        </section>
        <section class='avisos-legales-footer'>
            <p class='footer-p'>@ 2020 Ergoworld</p>
        </section>
        <section class='terminos-condiciones'>
            <p class='footer-p' class='terminos' id='terminos'>Terminos y condiciones</p>
            <i id='circle' class="fas fa-circle"></i>
            <p class='footer-p' class='condiciones' id='condiciones'>Politicas de privacidad</p>
        </section>
    </section>
</footer>