<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Todas las paginas-->
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/emailOptIn.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel='stylesheet' href='/css/normalize.css'>

<!-- css Individual-->
<% for (let i in css) { %>
    <link rel="stylesheet" href="<%= css[i] %>">
    <% } %>


<!--Externos todas las paginas-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/deb1b00585.js" crossorigin="anonymous"></script>

<title><%= title %> - Ergoworld</title>