  <!--Barra de navagacion -->
<script src='/js/navbar.js'></script>
  <nav class="navBar" id="homeHeader">
    <ul>
        <div>
            <li class="logoErgoworldDestokp">
                <figure>
                    <a href="/"><img src="../../images/logo-4.png" alt="logoErgoworld"></a>
                </figure>
            </li>
            <li class='container-logo-blanco'>
                <figure>
                    <a href="/"><img src="/images/logo-blanco-transparente.png" alt="logoErgoworldMovil" class="onlyMovilLogo"></a>
                </figure>
    
            </li>

        </div>
       <div class='div2'>
        <section class=iconTextContainer-1>
            <li class="searchFormContainer">
                <form class="searchForm input-container" action="/search" method="get">                        
                        <i id='lupita' class="fas fa-search"></i>
                        <input type="search" placeholder="Buscar En Ergoworld" name="headerSearchHome" class="searchBarOnlyDesktop " id="searchTextHome" />
                </form>
            </li>
        </section>
        <section class=iconTextContainer>
            <li>
                <% if (locals.isLogged) { %>

                    <div class="iconoContainer-user" id='contenedor-nav'>
                        <a href='/usuario/perfil'><img id='avatar-header' src="/images/avatars/<%=locals.userLogged.avatar %>" alt="avatar"></a>
                        <p class='text-profile'>Hola <%= locals.userLogged.name %> </p>
                    </div>
				<% } else { %>
                    <div class="iconoContainer" id='contenedor-nav'>
                        <a href="/usuario/login"><i class="fas fa-user"></i></a>
                        <a class='a-header' href="/usuario/login"><p class="iconTextOnlyDesktop">Mi Cuenta</p></a>
                    </div>
				<% } %>           
               
            </li>
            <li>
                <div class="iconoContainer" id='contenedor-nav'>
                    <a href="/carrito/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a class='a-header' href="/carrito/productCart"><p class="iconTextOnlyDesktop">Mis Compras</p></a>
                </div>
            </li>
            <li class='lupita2'>
                <i id='lupita2' class="fas fa-search"></i>
            </li>
        </section>
       </div>
        
       
       
    </ul>
</nav>
<nav class='mobile' id='homeHeader2'>
    <li class="searchFormContainer2">
        <form class="searchForm input-container" action="/search" method="get">                        
                <input type="search" placeholder="Buscar En Ergoworld" name="headerSearchHome" class="searchBarOnlyDesktop2 " id="searchTextHome2" />
        </form>
    </li>
</nav>