<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/emailOptIn.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/normalize.css'>
    <script src="https://kit.fontawesome.com/deb1b00585.js" crossorigin="anonymous"></script>
    <title>Ergoworld - Home</title>
</head>

<body>

    <%- include('../partials/navbar') %> 
    <!-- Cuerpo de la pagina -->

    <section class="hero-wrapper">
        <div class="hero-content">
            <figure>
                <img src="/images/logo-fondo-blanco.jpg" alt="logo Ergoworld hero">
            </figure>
            <h1>Mejorá tu productividad y tu salud.</h1>
        </div>
    </section>

    <!-- home 1 -->

    <section class="home1">
        <div class="hero-content">
            <h2 id='h-home1'>Llevá tu <br> HOME OFFICE<br> a otro nivel</h2>
            <p id='sabias-que'>¿Sabías que usar tu computadora por más de 4 horas diarias aumenta el riesgo de sufrir daños en tu cuerpo de por vida?</p>
            <p id= 'p-home1'>ERGOWORLD tiene todo lo que necesitas para cuidar de tu trabajo y de tu cuerpo.</p>
        </div>
    </section>

    <!-- home 2 -->

    <section class="home2">
        <div class="home2-wrap">
            <div id='contendedor-home2-1' class="home2-content1">
                <h2>PRO CLICK ERGONOMIC MOUSE</h2>
                <p>Pro Click es un mouse de computadora ergonómico inalámbrico de última generación diseñado para brindar comodidad y productividad. Diseñado con una inclinación de 30 grados, promueve una postura ergonómica natural del brazo para aliviar
                    la tensión no deseada de la muñeca y brindar comodidad durante todo el día.</p>

                <div class="botones-hom2">
                    <a class="contenido-boton-home2" href="/productDetail">Leer más<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                    <a class="contenido-boton-home2" href="#">Comprar<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>
                <figure>
                    <img src="/images/pro_click_3.png" alt="pro click mouse">
                </figure>
            </div>


            <div class="home2-content2">
                <h2>SOPORTE PARA COMPUTADORA PORTÁTIL</h2>
                <p>Eleva la pantalla entre 15 y 25 centímetros por encima de la mesa. Fácil de usar y extremadamente portátil. Se adapta a casi todas las computadoras portátiles. Se abre y cierra con un sól movimiento.</p>

                <div class="botones-hom2">
                    <a class="contenido-boton-home2" href="/productDetail">Leer más<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                    <a class="contenido-boton-home2" href="#">Comprar<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>
                <figure>
                    <img src="/images/base-laptop.jpg" alt="base laptop">
                </figure>
            </div>
        </div>
    </section>

    <!-- Home 3 -->
    <section class="contenedor-home3">
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-brain"></i>
            </figure>
            <h3 class='titulo-home3'>
                Diseñado por expertos
            </h3>
            <p class='p-home3'>
                Priorizando  el confort y la productividad.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-cogs"></i>
            </figure>
            <h3 class='titulo-home3'>
                Hecho a tu medida
            </h3>
            <p class='p-home3'>
                Cada producto es 100% personalizable para que se ajuste perfectamente a tus necesidades.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-luggage-cart"></i>
            </figure>
            <h3 class='titulo-home3'>
                100% transportable
            </h3>
            <p class='p-home3'>
                Para que puedas llevar tu oficina a donde más te guste.
            </p>
        </article>
    </section>

    <%- include('../partials/footer') %> 

</body>

</html>