<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/deb1b00585.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    
    <header class="header" id="homeHeader">
        <i class="fas fa-bars"></i>
        <i class="fas fa-search"></i>
<figure>
    <img src="./images/logo-3.png" alt="logoErgoworld">
</figure>
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-cart"></i>
    </header>
</body>
</html>