<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/emailOptIn.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/normalize.css'>
    <script src="https://kit.fontawesome.com/deb1b00585.js" crossorigin="anonymous"></script>
    <title>Ergoworld - Home</title>
</head>

<body>

    <!--Barra de navagacion -->

    <nav class="navBar" id="homeHeader">
        <ul>
            <li class="logoErgoworldDestokp">
                <figure>
                    <a href="/"><img src="./images/logo-4.png" alt="logoErgoworld"></a>
                </figure>
            </li>
            <section class=iconTextContainer-1>
                <li>
                    <div class="onlyMovilIcon">
                        <a href="#"><i class="fas fa-bars"></i></a>
                    </div>

                </li>
                <li class="searchFormContainer">
                    <form class="searchForm" action="/search" method="get">
                        <div class="input-container">
                            <i id='lupita' class="fas fa-search"></i>
                            <input type="text" placeholder="Buscar En Ergoworld" name="headerSearchHome" class="searchBarOnlyDesktop " id="searchTextHome" />
                        </div>

                    </form>

                </li>
            </section>
            <li class='container-logo-blanco'>
                <figure>
                    <a href="/"><img src="./images/logo-blanco-transparente.png" alt="logoErgoworldMovil" class="onlyMovilLogo"></a>
                </figure>

            </li>
            <section class=iconTextContainer>
                <li>
                    <div class="iconoContainer" id='contenedor-nav'>
                        <a href="/login"><i class="fas fa-user"></i></a>
                        <a class='a-header' href="/login"><p class="iconTextOnlyDesktop">Mi Cuenta</p></a>
                    </div>
                </li>
                <li>
                    <div class="iconoContainer" id='contenedor-nav'>
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                        <a class='a-header' href="/productCart"><p class="iconTextOnlyDesktop">Mis Compras</p></a>
                    </div>
                </li>
            </section>
        </ul>
    </nav>

    <!-- Cuerpo de la pagina -->

    <section class="hero-wrapper">
        <div class="hero-content">
            <figure>
                <img src="./images/logo-fondo-blanco.jpg" alt="logo Ergoworld hero">
            </figure>
            <h1>Mejorá tu productividad y tu salud.</h1>
        </div>
    </section>

    <!-- home 1 -->

    <section class="home1">
        <div class="hero-content">
            <h2 id='h-home1'>Llevá tu <br> HOME OFFICE<br> a otro nivel</h2>
            <p id='sabias-que'>¿Sabías que usar tu computadora por más de 4 horas diarias aumenta el riesgo de sufrir daños en tu cuerpo de por vida?</p>
            <p id= 'p-home1'>ERGOWORLD tiene todo lo que necesitas para cuidar de tu trabajo y de tu cuerpo.</p>
        </div>
    </section>

    <!-- home 2 -->

    <section class="home2">
        <div class="home2-wrap">
            <div id='contendedor-home2-1' class="home2-content1">
                <h2>PRO CLICK ERGONOMIC MOUSE</h2>
                <p>Pro Click es un mouse de computadora ergonómico inalámbrico de última generación diseñado para brindar comodidad y productividad. Diseñado con una inclinación de 30 grados, promueve una postura ergonómica natural del brazo para aliviar
                    la tensión no deseada de la muñeca y brindar comodidad durante todo el día.</p>

                <div class="botones-hom2">
                    <a class="contenido-boton-home2" href="/productDetail">Leer más<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                    <a class="contenido-boton-home2" href="#">Comprar<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>
                <figure>
                    <img src="./images/pro_click_3.png" alt="pro click mouse">
                </figure>
            </div>


            <div class="home2-content2">
                <h2>SOPORTE PARA COMPUTADORA PORTÁTIL</h2>
                <p>Eleva la pantalla entre 15 y 25 centímetros por encima de la mesa. Fácil de usar y extremadamente portátil. Se adapta a casi todas las computadoras portátiles. Se abre y cierra con un sól movimiento.</p>

                <div class="botones-hom2">
                    <a class="contenido-boton-home2" href="/productDetail">Leer más<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                    <a class="contenido-boton-home2" href="#">Comprar<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>
                <figure>
                    <img src="./images/base-laptop.jpg" alt="base laptop">
                </figure>
            </div>
        </div>
    </section>

    <!-- Home 3 -->
    <section class="contenedor-home3">
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-brain"></i>
            </figure>
            <h3 class='titulo-home3'>
                Diseñado por expertos
            </h3>
            <p class='p-home3'>
                Priorizando  el confort y la productividad.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-cogs"></i>
            </figure>
            <h3 class='titulo-home3'>
                Hecho a tu medida
            </h3>
            <p class='p-home3'>
                Cada producto es 100% personalizable para que se ajuste perfectamente a tus necesidades.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-luggage-cart"></i>
            </figure>
            <h3 class='titulo-home3'>
                100% transportable
            </h3>
            <p class='p-home3'>
                Para que puedas llevar tu oficina a donde más te guste.
            </p>
        </article>
    </section>

    <!--Email Opt In -->
    <section class="contenedor-email-optIn">
        <section class='contenido-optin'>
            <section class='contenedor-textos'>
                <section class='textos'>
                    <p class='main-title'>Suscribite a nuestro newsletter</p>
                </section>
                <section class='textos'>
                    <p class='newsletter-p'>Y accedé a los mejoresdescuentos para mejorar tu salud y productividad.</p>
                </section>
            </section>
            <form class=email-optIn>
                <div class="contenedor-input">
                    <input class='text-input' type='email' id='email' placeholder="ejemplo@ejemplo.com" name='email'>
                </div>
                <div class="contenedor-input">
                    <button type='submit' id='boton-enviar'>Enviar</button>
                </div>
            </form>
        </section>
    </section>
    <!--Pie de pagina -->
    <footer>
        <section class='top-desktop-footer'>
            <section class='left-desktop-footer'>
                <figure class='contenedor-logo-footer'>
                    <a href='/'><img class='logo-footer' src="./images/logo-blanco-transparente.png" alt="logoErgoworld"></a>
                </figure>
                <figure class='contenedor-redes-sociales-footer'>
                    <a class='icon-social-media' href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a class='icon-social-media' href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></i></a>
                    <a class='icon-social-media' href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a class='icon-social-media' href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                    <a class='icon-social-media' href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
                </figure>
            </section>
            <section class="contenedor-botones-footer">
                <section class='left-boton'>
                    <div class='boton-footer'>
                        <a class='contenido-boton-footer' href='/'>SHOP NOW <i class="fas fa-chevron-right"></i></i></a>
                    </div>
                    <div class='boton-footer'>
                        <a class='contenido-boton-footer' href='/register'>REGISTRATE <i id='arrow' class="fas fa-chevron-right"></i></i></a>
                    </div>
                </section>
                <section class='right-boton'>
                    <div class='boton-footer'>
                        <a class='contenido-boton-footer' href='/login'>MI CUENTA <i class="fas fa-chevron-right"></i></i></a>
                    </div>
                    <div class='boton-footer'>
                        <a class='contenido-boton-footer' href='/productCart'>CARRITO <i class="fas fa-chevron-right"></i></i></a>
                    </div>
                </section>
            </section>
        </section>
        <section class='bottomDesktop'>
            <section class='avisos-legales-footer'>
                <p class='footer-p'>El contenido de este sitio web no debe considerarse consejo médico ni pretende serlo, su única finalidad es educativa.</p>
            </section>
            <section class='avisos-legales-footer'>
                <p class='footer-p'>@ 2020 Ergoworld</p>
            </section>
            <section class='terminos-condiciones'>
                <p class='footer-p' class='terminos' id='terminos'>Terminos y condiciones</p>
                <i id='circle' class="fas fa-circle"></i>
                <p class='footer-p' class='condiciones' id='condiciones'>Politicas de privacidad</p>
            </section>
        </section>
    </footer>
</body>

</html>