<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/emailOptIn.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/normalize.css'>
    <script src="https://kit.fontawesome.com/deb1b00585.js" crossorigin="anonymous"></script>
    <title>Ergoworld - Ingresá a tu cuenta</title>
</head>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %> 


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-login'>Ingresá a tu cuenta</h2>
            <figure>
               <img class='linea' src="./images/line.png">
            </figure>
            <form>
                <div class='contenedor-input-login'>
                    <input class='text-input-login' type='email' id='email' placeholder="Email" name='email' required>
                </div>
                <div class='contenedor-input-login'>
                    <input class='text-input-login' type='password' id='password' placeholder="Contraseña" name='pasword' required>
                </div>
                <div class='contenedor-mantener-sesion'>
                    <label class='mantener-sesion'>
                        <input id='text-sesion' type='checkbox' name='mantenerSesion' value='mantenerSesion'>Mantener sesión iniciada
                    </label>
                </div>
                <div class='contenedor-button'>
                 <button type='submit' id='boton-enviar-login'><a class='texto-enviar' href="/">Enviar</a></button>
                </div>
            </form>
            <section>
                <a class='text-inciarsesion' href='/register'>Crear cuenta</a>
            </section>
            <section>
                <a class='text-inciarsesion' href='#'>¿Olvidaste tu contraseña?</a>
            </section>
            <section>
                <a class='text-inciarsesion' href='/'>Regresar a la tienda</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>