footer{
    background-color: black;
    width:100%;
    padding-bottom: 40px;
}

p{
    font-family: "roboto";
    font-weight:100;
    text-decoration: none;
    color:white;
    font-size:11px;
    text-align:center;
    
}

.contenedor-logo-footer{
    padding:10px;
}

.logo-footer{
    width:75px;
    display:flex;
    margin: auto;
    margin-top: 10px;
}

.contenedor-redes-sociales-footer{
    text-align:center;
    padding:10px;
}
.icon-social-media{
    color:white;
    font-size:30px;
    margin:10px;
}

.contenedor-botones-footer{
    text-align:center;
}

.boton-footer{
    width:80%;
    margin:12px auto;
    border: 2px solid white;
    border-radius: 5px;
    padding:8px;
}

.contenido-boton-footer{
    font-family: "roboto";
    font-weight:500;
    text-decoration: none;
    color:white;
    letter-spacing: 1.5px;
    font-size:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.avisos-legales-footer{
    width:80%;
    margin:35px auto;
}

.terminos-condiciones{
    display:flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin:auto;
}

#circle{
    color: white;
    font-size: 2px;
}

@media(min-width:430px){

    .contenedor-logo-footer, .contenedor-redes-sociales-footer, .contenedor-botones-footer {
        max-width: 487px;
        margin:10px auto;
    }

    .avisos-legales-footer{
        width: 56%;
    }
    
    .terminos-condiciones{
        width: 40%;
    }

}

@media(min-width:837px){
    footer{
        margin:auto;
    }

    p{
        text-align: left;
    }
    .contenedor-logo-footer{
        margin:0;
        padding:0;
        position: relative;
        left: 5vw;
        top: 5vw;
        margin-bottom:20px;
    }

    .logo-footer{
        margin:0;
        width:20%;
    }

    .avisos-legales-footer{
        margin:0;
        padding:0;
        position:relative;
        width: 25%;
        margin-bottom: 20px;
        left: 5vw;
        bottom: 5vw;
        max-width:283px;
    }


    .contenedor-botones-footer{
        position: relative;
        width: 40%;
        left: 55vw;
        margin: 0;
    }

    .contenedor-redes-sociales-footer{
        position: relative;
        margin:0;
        padding:0;
        left:4vw;
        top: 9vw;
        max-width: 283px;
        margin-bottom:10px;
    }

    .terminos-condiciones{
        display: flex;
        flex-direction: row;
        position: relative;
        margin:0;
        width: 30%;
        left: 5vw;
        max-width:283px;
    }
}