footer{
    background-color: black;
    width:100%;
    padding-bottom: 2.5rem;
    padding:19px;
}

.footer-p{
    font-family: "roboto";
    font-weight:100;
    text-decoration: none;
    color:white;
    font-size:0.6875rem;
    text-align:center;
}

.contenedor-logo-footer{
    padding:0.625rem;
}

.logo-footer{
    width:4.6875rem;
    display:flex;
    margin: auto;
    margin-top: 0.625rem;
}

.contenedor-redes-sociales-footer{
    text-align:center;
    padding:0.625rem;
}
.icon-social-media{
    color:white;
    font-size:1.875rem;
    margin:0.625rem;
}

.contenedor-botones-footer{
    text-align:center;
}

.boton-footer{
    width:80%;
    margin:0.75rem auto;
    border: 0.125rem solid white;
    border-radius: 0.3125rem;
    padding:0.5rem;
}

.contenido-boton-footer{
    font-family: "roboto";
    font-weight:500;
    text-decoration: none;
    color:white;
    letter-spacing: 0.09375rem;
    font-size:0.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.avisos-legales-footer{
    width:80%;
    margin:2.1875rem auto;
}

.terminos-condiciones{
    display:flex;
    justify-content: space-between;
    width: 78%;
    align-items: center;
    margin:auto;
}

#circle{
    color: white;
    font-size: 1.5px;
}

#boton-enviar:hover{
    background-color:  #254e85;
}

.fa-user:hover, .fa-shopping-cart:hover, .fa-search:hover, fa-bars:hover{
    color:  #b3b3b3;
}

@media(min-width:430px){

    .contenedor-logo-footer, .contenedor-redes-sociales-footer, .contenedor-botones-footer {
        max-width: 30.4375rem;
        margin:0.625rem auto;
    }

    .avisos-legales-footer{
        width: 56%;
    }
    
    .terminos-condiciones{
        width: 61%;
    }

}

.fa-chevron-right:hover{
    animation-name: spin;
    animation-duration:1000ms;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes spin {
    0%{
        transform: rotateX(0deg)
    }

    100%{
        transform: rotateX(360deg)
    }
}

@media(min-width:837px){

    footer p{
        text-align:left;
    }
    .left-desktop-footer{
        display:flex;
        flex-direction:column;
        width:30%;
        justify-content: left;
        margin: 3.75rem;
        margin-bottom: 1.875rem;
    }

    .contenedor-logo-footer{
        margin:0;
        margin-bottom: 1.5rem;
        padding:0;
    }

    .logo-footer{
        margin:0;
        padding:0;
    }

    .contenedor-redes-sociales-footer{
        margin: 0;
        padding: 0;
        display: flex;
        width: 70%;
        min-width: 13.125rem;
    }

    .icon-social-media{
        margin:0.625rem;
        padding:0;
    }

    .top-desktop-footer{
        display:flex;
        flex-direction: row;
        width:100%;
    }

    .left-boton, .right-boton{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:45%;
        margin:0.625rem;
    }

    .contenedor-botones-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:auto;
        width:70%;
    }

    .boton-footer{
        width:100%;

    }

    .bottomDesktop{
        display:flex;
        flex-direction: column;
        width:100%;
        margin-left:3.75rem;
    }

    .avisos-legales-footer{
        margin:0;
        padding:0;
        align-items: flex-start;
        width:30%;
        margin-bottom: 0.75rem;
    }

    .terminos-condiciones{
        margin:0;
        padding:0;
        display:flex;
        align-items: center;
        width: 28%;
        max-width:16rem;

    }

    .footer-p{
        text-align: left;
    }
}