nav {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    color: #ffffff;
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
.container-logo{
    width:30%;
}

.container-first2Icons{
    width:30%
}

.logoErgoworldDestokp {
    display: none;
}

.searchBarOnlyDesktop {
    display: none;
    font-family: roboto;
    font-weight: 300;
    background-color: white;
}

nav i {
    color: #ffffff;
    font-size: 1.2rem;
}

nav figure img {
    height: 10vh;
    width: auto;
    color: #ffffff;
}

a .iconTextOnlyDesktop {
    display: none;
    font-family: "roboto";
    font-weight:300;
}

input {
    font-size: 1rem;
    font-weight: bold;
}

.iconTextContainer{
    display: flex;
    align-items: center
}

.iconTextContainer-1{
    display:flex;
}

.fa, .fas {
    font-weight: 900;
    margin: 1rem;
}

#lupita{
    padding:0px;
    
}

#searchTextHome{
    padding-left:0;
    padding:19.5px 0;
}

.fa-bars:hover{
    color: #2897ff;
}

@media(min-width:583px){
   
    .a-header{
        text-decoration: none;
        color:white;
        font-family:'roboto';
        font-weight:300;

    }

    .logoErgoworldDestokp {
        display: none;
    }

    .iconTextContainer{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav {
        padding:10.625rem;
    }

    .onlyMovilIcon {
        display: none;
    }

    .onlyMovilLogo {
        display: block;
        align-self:-1;
    }

    .searchBarOnlyDesktop {
        display: block;
        border: none;
        height: 50%;
        border-radius: 0px 0.3125rem 0.3125rem 0px;
        width: 30vw;
    }


    a .iconTextOnlyDesktop {
        display: none;
    }

    .input-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin:0;
    }

    .searchForm {
        margin:0;

        height: 100%;
    }

    .searchFormContainer {
        height: 100%;

    }

    .searchIconContainer {
        padding:18.5px;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        height: 50%;
        border-radius: 0.3125rem 0px 0px 0.3125rem;
    }

    .searchIconContainer i {
        color: #000000;
        padding: 1.1875rem 0px;
    }

    .iconoContainer {
        font-weight: bold;
    }
    

    .container-logo-blanco{
        width: 30%;
        order:-1;
    
    }

    #contenedor-nav{
        margin:0.625rem;
    }

    #homeHeader{
        padding:0.625rem;
        margin:auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    #lupita {
        padding:0;
        margin:0;
    }
}

@media(min-width:1123px) {
    .logoErgoworldDestokp {
        display: inline;
        width:30%;
    }

    .iconTextContainer{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav {
        padding:0.625rem;
    }

    .onlyMovilIcon {
        display: none;
    }

    .container-logo-blanco{
        display:none;
        order:0;
    
    }

    .searchBarOnlyDesktop {
        display: block;
        border: none;
        height: 50%;
        border-radius: 0px 0.3125rem 0.3125rem 0px;
        width: 30vw;
    }


    a .iconTextOnlyDesktop {
        display: inline;
        font-size: 1rem;
    }

    .input-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin:0;
    }

    .searchForm {
        margin:0;

        height: 100%;
    }

    .searchFormContainer {
        height: 100%;

    }

    .searchIconContainer {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        height: 50%;
        border-radius: 0.3125rem 0px 0px 0.3125rem;
    }

    .searchIconContainer i {
        color: #000000;
        padding: 1.1875rem 0px;


    }

    .iconoContainer {
        font-weight: bold;
    }

    #contenedor-nav{
        margin:0.625rem;
    }

    #homeHeader{
        padding:0.625rem;
        margin:auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    #lupita {
        padding:0;
        margin:0;
    }
}