* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


img {
    width: 100%;
}



.productDetailsContainer {
    margin: 5vw;
    background-color: white;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.productDetailsContainer p {
    font-size: 1.2rem
}

.reviewContainer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;


}

.reviewContainer i {
    color: gold;
    margin: 0;
    padding: 0;
}

.reviewContainer p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 2vw;
}

.fa-plus, .fa-minus{
    font-size:25px;
}

.precioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

.precioContainer .precio {
    font-weight: bold;
    padding-left: 3vw;
    font-size: 30px;

}

.cantidadContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cantidadContainer p {
    font-weight: bold;
    font-size: 1.5rem;
}

.cantidadContainer button {
    font-size: 2rem;
    border-radius: 15px;
    width: 8vh;
    height: 6vh;
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d7a7b;
    font-weight: bold;
}


.cantidadContainer button:hover {
    color: #2897ff;
}

.agregarAlCarritoBoton {
    background-color: #396fb7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 80vw;
    margin: 3vh;
    margin-bottom:6vh;
}

.agregarAlCarritoBoton:hover {
    background-color: #2897ff;
}

.listaBeneficios {
    list-style: none;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}




.listaBeneficios li i {
    color: #396fb7;
    padding: 1vh;
    margin: 0;
}



.enviosGratisContainer {
    padding: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0vh;
    margin-top: 5vh;
}

.enviosGratisContainer p {
    font-weight: 500;
    font-size: 1.2rem;
}
.enviosGratisContainer i{
    font-size: 2rem;
}
.detallesAvanzados {
    text-align: left;
    width: 80vw;

}

.descripcionContainer {

    margin-top: 13vh;
}

.descripcionContainer * {

    padding-top: 3vh;
}

/* eliminamos lo que es solo escritor */
.onlyDesktop {
    display: none;
}






/* mover esto al footer  */


.contenedor-home3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a4a4a;
    width: 100%;
    padding: 80px 0;
}

.contenedor-seccion-home3 {
    width: 70%;
    margin-bottom: 43px;
}

.contenedorIcon-home3 {
    text-align: center;
}

#icon-home3 {
    color: white;
    font-size: 55px;
}

.titulo-home3,
.p-home3 {
    text-align: center;
    color: white;
}

.titulo-home3:hover,
.contenedorIcon-home3:hover,
.p-home3:hover,
#icon-home3:hover {
    color: #2897ff;
}

#ultimo-container{
    margin-bottom:100px;
}



/* adaptacion a escritorio */
@media(min-width:700px) {

    /* Eliminamos lo marcado como solo movil y activamos solo Desktop */
    .onlyDesktop {
        display: block;
    }

    .onlyMovile {
        display: none;
    }

    .productDetailsContainer {
        padding: 10%;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: left;
    }
    /* Movemos el orden de las imagenes y descripciones */

    .productDetailsContainer * {
        order: 10;
    }

    .productDetailsContainer figure {
        width: 50%;
    }

    .precioContainer {
        padding: 0;
    }

    .cantidadContainer {
        margin-top: 5vh;
    }

    .cantidadContainer button {
        padding: 0;
        margin: 0;
        margin-right: 2vh;
    }

    .cantidadContainer p {
        margin-right: 2vh;
    }

    .agregarAlCarritoBoton {
        margin: 0;
        margin-top: 5vh;
        width: 83%;
        max-width:300px;
    }

    .beneficiosOfrecidos {
        margin-top: 10%;

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 880px;
    }

    .beneficiosOfrecidos ul {
        margin: 0;
        padding: 0;
        font-weight: 400;
        width:50%;
    }

    .enviosGratisContainer {
        
        padding: 0;
        margin: 0;
        width:50%;
    }


    .reviewContainer {
        padding-top: 3vh;
        padding-bottom: 3vh;
        display: flex;
        justify-content: center;
        width: 76%;

    }

    .detallesAvanzados {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .descripcionContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14vh;
        width:100%;
    }

    .descripcionContainer figure {
        display: flex;
        justify-content: center;
    }

    .inverso {
        flex-direction: row-reverse;

    }

    .descripcion {
        width: 50%;
        padding: 0;
        align-self: center;
        margin: 0 45px;
        max-width: 400px;
    }

    .precioContainer {
        justify-content: flex-start;
    }

    .cantidadContainer {
        justify-content: flex-start;
    }

    .mainImage {
        width: 50%;
        order: 1;
        padding-right: 10%;
    }

    .mainDescriptionContainer {
        width: 50%;
        order: 2;

    }

    .reviewsText{
        width:100%;
    }

    .reviewContainer p {
        padding-left: 1vw;
    }

    .descripcionContainer img{
        min-width:350px;
    }
    .inverso img{
        min-width:350px;
    }

    #ultimo-container{
        margin-bottom:100px;
        margin-top:200px;
    }









    /* mover lo siguiente al footer */


    .contenedor-home3 {
        padding: 80px 0;
    }

    .contenedor-seccion-home3 {
        max-width: 373px;
    }

    .contenedor-home3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 30px;
    }

}