<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Error 404', 
    css: ['/css/login.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-login'>Error 404</h2>
            <video playsinline autoplay muted loop poster="../../images/poster.jpg" id="bgvid">
                <source src=".../../images/Typing.mp4" type="video/webm">
                <source src="../../images/Typing.mp4" type="video/mp4">
              </video>
            
            <section>
                <a class='text-inciarsesion' id='last' href='/'>Regresar a la tienda</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>