<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Ingresá a tu cuenta', 
    css: ['/css/login.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-login'>Ingresá a tu cuenta</h2>
            <figure>
               <img class='linea' src="./images/line-black.png">
            </figure>
            <video playsinline autoplay muted loop poster="./images/poster.jpg" id="bgvid">
                <source src="./images/Typing.mp4" type="video/webm">
                <source src="./images/Typing.mp4" type="video/mp4">
              </video>
            <form class = 'contenedor-formulario-1'>
                <div class='contenedor-input-login'>
                    <input class='text-input-login' type='email' id='email' placeholder="Email" name='email' required>
                </div>
                <div class='contenedor-input-login'>
                    <input class='text-input-login' type='password' id='password' placeholder="Contraseña" name='pasword' required>
                </div>
                <div class='contenedor-mantener-sesion'>
                    <label class='mantener-sesion'>
                        <input id='text-sesion' type='checkbox' name='mantenerSesion' value='mantenerSesion'>Mantener sesión iniciada
                    </label>
                </div>
                <div class='contenedor-button'>
                 <button type='submit' id='boton-enviar-login'><a class='texto-enviar' href="/">Enviar</a></button>
                </div>
            </form>
            <section>
                <a class='text-inciarsesion' href='/register'>Crear cuenta</a>
            </section>
            <section>
                <a class='text-inciarsesion' href='#'>¿Olvidaste tu contraseña?</a>
            </section>
            <section>
                <a class='text-inciarsesion' id='last' href='/'>Regresar a la tienda</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>