<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Perfil de usuario', 
    css: ['/css/login.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <br>
        <p>Bienvenido a tu perfil de usuario</p>
        <br>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>