<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Perfil de usuario', 
    css: ['/css/perfil.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='main-section'>
            <figure  class="imagen">
                <img id='avatar' src="/images/avatars/1616630757630_img_.png" alt="avatar">
            </figure>
            <h1>Hola <%= locals.userLogged.nombreUsuario %></h1>
            <a class='a-edit' href='/usuarios/perfil/editar'>Editar perfil</a>
        </section>
        <section class='section-info'>
            <h2>Información personal</h2>
            <section class='section-specific'>
                <h3>Nombre</h3>
                <p>{users.nombre}</p>
            </section>
            <section class='section-specific'>
                <h3>Apellido</h3>
                <p>{users.apellido}</p>
            </section>
            <section class='section-specific'>
                <h3>Email</h3>
                <p>{users.email}</p>
            </section>
            <section class='section-specific'>
                <h3>Contraseña</h3>
                <p>{users.password}</p>
            </section>
        </section> 
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>