<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Creá tu cuenta', 
    css: ['/css/register.css']}) %>

<body>
    <!--Barra de navagacion -->
    <%- include('../partials/navbar') %> 


    <!-- Cuerpo de la pagina -->

    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-register'>Creá tu cuenta</h2>
            <figure>
               <img class='linea' src="./images/line.png">
            </figure>
            <form>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='text' id='nombreUsuario' placeholder="Nombre" name='nombreUsuario' minlength="3">
                </div>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='text' id='apellidoUsuario' placeholder="Apellido" name='apellidoUsuario'minlength="3">
                </div>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='email' id='email' placeholder="Email" name='email'>
                </div>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='password' id='password' placeholder="Contraseña" name='pasword'>
                </div>
                <div class='contenedor-button'>
                    <button type='reset' id='boton-reset-register'><a class='texto-enviar' id='boton-reset' href="/">Borrar</a></button>
                   </div>
                <div class='contenedor-button'>
                 <button type='submit' id='boton-enviar-register'><a class='texto-enviar' href="/">Enviar</a></button>
                </div>
            </form>
            <section>
                <a class='text-inciarsesion' href='/login'>¿Ya tenés una cuenta? Iniciá sesión</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>