<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Creá tu producto', 
    css: ['/css/borrado-exitoso.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>

    <section class= 'container-borrado-exitoso'>
        <h2>El producto se ha borrado exitosamente</h2>
        <a href='/'>Volver a la home</a>
    </section>

    <%- include('../partials/footer') %> 

</body>

</html>