<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head', 
{title: 'Detalle de producto', 
css: ['/css/productDetails.css']}) %>

<body>

    <%- include('../partials/navbar') %> 

    <!-- vista principal del producto con immagenes y detalles especificos -->
    <section class="productDetailsContainer">

        <!-- seccion con titulo y precio -->
        <section class="mainDescriptionContainer">

            <h1 class="descriptionTitle">SOPORTE PARA
                COMPUTADORA
                PORTÁTIL</h1>

            <p class="descriptionText">Eleva la pantalla entre 15 y 25
                centímetros por encima de la mesa.
                Fácil de usar y extremadamente
                portátil. Se adapta a casi todas
                las computadoras portátiles.
                Se abre y cierra con un sólo
                movimiento.</p>
            <div class="reviewContainer">
                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <p class="reviewsText">
                    200 reviews
                </p>
            </div>

            <div class="onlyDesktop">

                <div class="precioContainer">
                    <p>Precio:</p>
                    <p class="precio">$2000</p>

                </div>
                <div class="cantidadContainer">
                    <button class="masButton"><i class="fas fa-plus"></i></button>
                    <p class="cantidad">1</p>
                    <button class="menosBotton"><i class="fas fa-minus"></i></button>

                </div>
                <div class='container-bottons'>
                <button class="editarProducto">
                    <a href='/productos/editar/:id'>
                    <i class="fas fa-edit"></i>
                    Editar Producto
                </a>
                </button>
                <form action="/products/delete/:id?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="delete-button">
                        <i class="fas fa-trash-alt"></i>
                        Eliminar Producto
                    </button>
                </form>
                <button class="agregarAlCarritoBoton">
                    <i class="fas fa-cart-plus"></i>
                    Agregar Al Carrito
                </button>
            </div>
            </div>
            </div>

        </section>
        <section>


        </section>
        <figure class="mainImage">
            <img src="/images/base-laptop.jpg" alt="base para laptop">
        </figure>


        <div class="onlyMovile">
            <div class="precioContainer">
                <p>Precio:</p>
                <p class="precio">$2000</p>

            </div>
            <div class="cantidadContainer">
                <button class="masButton"><i class="fas fa-plus"></i></button>
                <p class="cantidad">1</p>
                <button class="menosBotton"><i class="fas fa-minus"></i></button>
            </div>
            <button class="editarProducto">
                <i class="fas fa-edit"></i>
                Editar Producto
            </button>
            <form action="/products/delete/:id?_method=DELETE" method="POST" style="display: inline-flex">
                
                <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt"></i>
                    Eliminar Producto
                </button>
            </form>
            <button class="agregarAlCarritoBoton">
                <i class="fas fa-cart-plus"></i>
                Agregar Al Carrito
            </button>
        </div>


        <!-- lista de beneficios de ser cliente -->

        <section class="beneficiosOfrecidos">
            <ul class="listaBeneficios">
                <li><i class="fas fa-check-circle"></i>
                    Garantía por 2 años
                </li>
                <li><i class="fas fa-check-circle"></i>
                    Hecho con plástico reciclado
                </li>
                <li><i class="fas fa-check-circle"></i>
                    Libre de BPA
                </li>
                <li><i class="fas fa-check-circle"></i>
                    La mejor calidad del mercado.
                </li>

            </ul>

            <div class="enviosGratisContainer"><i class="fas fa-truck"></i>


                <p>
                    ¡Envíos gratis a cualquier parte
                    del mundo!
                </p>
            </div>

        </section>

        <!-- mas fotos y detalles del producto -->

        <section class="detallesAvanzados">

            <div class="descripcionContainer">
                <figure  class="imagen">
                    <img id='imagen-descripcion' src="/images/stand-1.jpg" alt="stand para notebook">
                </figure>

                <div class="descripcion">

                    <h1>Altura ajustable
                    </h1>


                    <p>
                        Ajustar la altura de la pantalla de su
                        computadora portátil es fundamental
                        para lograr la máxima comodidad y
                        productividad.
                    </p>

                </div>
            </div>

            <div class="descripcionContainer inverso">


                <figure  class="imagen">
                    <img id='imagen-descripcion' src="/images/stand-2.jpg" alt="notebook">
                </figure>
                <div class="descripcion">
                    <h1>
                        Fácil de usar y
                        extremadamente
                        portátil
                    </h1>
                    <p>
                        Un simple movimiento abre y
                        cierra el Roost Stand.
                        Peso: 6 onzas (170 g)
                        Cerrado: 1,30 x 1,17 x 13 pulgadas
                        (3,3 x 3,0 x 33,0 cm)
                    </p>
                </div>
            </div>

            <div id='ultimo-container' class="descripcionContainer">
                <figure  class="imagen 5">
                    <img id='imagen-descripcion' src="/images/stand-3.jpg" alt="notebook">
                </figure>
                <div class="descripcion">
                    <h1>
                        Se adapta a casi
                        todas las
                        computadoras
                        portátiles
                    </h1>
                    <p>
                        Este fantástico stand se ajusta
                        automáticamente para adaptarse a tu
                        computadora portátil.
                    </p>
                </div>

            </div>

        </section>
    </section>

    <section class="contenedor-home3">
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id='icon-home3' class="fas fa-brain"></i>
            </figure>
            <h3 class='titulo-home3'>
                Diseñado por expertos
            </h3>
            <p class='p-home3'>
                Priorizando el confort y la productividad.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id='icon-home3' class="fas fa-cogs"></i>
            </figure>
            <h3 class='titulo-home3'>
                Hecho a tu medida
            </h3>
            <p class='p-home3'>
                Cada producto es 100% personalizable para que se ajuste perfectamente a tus necesidades.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id='icon-home3' class="fas fa-luggage-cart"></i>
            </figure>
            <h3 class='titulo-home3'>
                100% transportable
            </h3>
            <p class='p-home3'>
                Para que puedas llevar tu oficina a donde más te guste.
            </p>
        </article>
    </section>

    <%- include('../partials/footer') %> 

</body>

</html>