<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Editá tu producto', 
    css: ['/css/edit-form.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-edit'>Estás editando el producto: PRODUCTO</h2>
            <figure>
               <img class='linea' src="../images/line.png">
            </figure>
            <!--Sólo vista estática sin variables dinámicas por ahora -->
            <form action="/products/edit?_method=PUT" method="POST">
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" placeholder="Ej: Teclado Ergonómico" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Resumen del producto:</label>
                    <input type="text" id="short-description" name="short-description" placeholder="Ej: Eleva la pantalla entre 15 y 25 centímetros por encima de la mesa. Fácil de usar y extremadamente portátil. Se adapta a casi todas las computadoras portátiles. Se abre y cierra con un sól movimiento." class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Precio:</label>
                    <input type="text" id="price" name="price" placeholder="Ej: $2000" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Características:</label>
                    <input type="text" id="characteristic-1" name="characteristic-1" placeholder="Ej: Garantía por 2 años" class="form-input" required>
                    <input type="text" id="characteristic-2" name="characteristic-2" placeholder="Ej: Hecho con plástico reciclado" class="form-input" required>
                    <input type="text" id="characteristic-3" name="characteristic-3" placeholder="Ej: Libre de BPA" class="form-input" required>
                    <input type="text" id="characteristic-4" name="characteristic-4" placeholder="Ej: La mejor calidad del mercado." class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Titulo Descripción 1:</label>
                    <input type="text" id="title-description-1" name="title-description-1" placeholder="Ej: Altura ajustable" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Descripción 1:</label>
                    <input type="text" id="description-1" name="description-1" placeholder="Ej: Ajustar la altura de la pantalla de su computadora portátil es fundamental para lograr la máxima comodidad y productividad." class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Titulo Descripción 2:</label>
                    <input type="text" id="title-description-2" name="title-description-2" placeholder="Ej: Fácil de usar y extremadamente portátil" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Descripción 2:</label>
                    <input type="text" id="description-2" name="description-2" placeholder="Ej: Un simple movimiento abre y cierra el Roost Stand. Peso: 6 onzas (170 g) Cerrado: 1,30 x 1,17 x 13 pulgadas (3,3 x 3,0 x 33,0 cm)" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Titulo Descripción 3:</label>
                    <input type="text" id="title-description-3" name="title-description-3" placeholder="Ej: Se adapta a casi todas las computadoras portátiles" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Descripción 3:</label>
                    <input type="text" id="description-3" name="description-3" placeholder="Ej: Este fantástico stand se ajusta automáticamente para adaptarse a tu computadora portátil." class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Imágenes:</label>
                    <input type="file" id="image-1" name="image-1" class="form-input" required>
                    <input type="file" id="image-2" name="image-2" class="form-input" required>
                    <input type="file" id="image-3" name="image-3" class="form-input" required>
                    <input type="file" id="image-4" name="image-4" class="form-input" required>
                </div>
                <div class='contenedor-input-edit'>
                    <label for="name" class="form-label">Categoría:</label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='sillas'>
                        Sillas
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='monitores'>
                        Monitores
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='escritorios'>
                        Escritorios
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='stands'>
                        Stands
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='iluminacion'>
                        Iluminación
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='teclados'>
                        Teclados
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='paneles'>
                        Paneles de separación
                    </label>
                    <label class='categories'>
                        <input type='checkbox' name='category' value='cables'>
                        Organizador de cables
                    </label>
                </div>
                <div class='contenedor-button'>
                 <button type='submit' id='boton-enviar-edit'><a class='texto-enviar' href="/">Guardar Cambios</a></button>
                </div>
                <div class='contenedor-button'>
                    <button type='reset' id='boton-reset-edit'><a class='texto-enviar' id='boton-reset' href="/">Borrar</a></button>
                   </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>