<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
<%- include('../partials/head', 
{title: 'Carrito', 
css: ['css/productCart.css']}) %>
   
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %> 


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-main-carrito'>
            <section class='titulo-carrito'>
                <h2 class='h-login'>Tu Carrito</h2>
                <figure class='contenedor-linea-carrito'>
                    <img class='linea-carrito' src="./images/line-black.png">
                </figure>
            </section>
            <article class='contenedor-producto-carrito'>
                <section class='carrito-seccion-1'>
                    <figure class='contenedor-imagen-producto-carrito'>
                        <img id='imagen-producto-carrito' src="./images/pro_click_3.png" alt="pro click mouse">
                    </figure>
                </section>
                <section class='carrito-seccion-2'>
                    <h2>PRO CLICK ERGONOMIC MOUSE</h2>
                    <section class="cantidadContainer">
                        <button class="masButton"><i class="fas fa-plus" style="
                            margin: 0;
                        "></i></button>
                        <p class="cantidad">1</p>
                        <button class="menosBotton"><i class="fas fa-minus"style="
                            margin: 0;
                        "></i></button>
                    </section>
                </section>
                <section class='carrito-seccion-3'>
                    <figure class='contendor-cruz'>
                        <i class="fas fa-times-circle"></i>
                    </figure>
                    <h2 class='precio-carrito'>
                        $5476
                    </h2>
                </section>
            </article>
            <article class='contenedor-producto-carrito'>
                <section class='carrito-seccion-1' id='imagen-laptop'>
                    <figure class='contenedor-imagen-producto-carrito'>
                        <img id='imagen-producto-carrito' src="./images/base-laptop.jpg" alt="base laptop">
                    </figure>
                </section>
                <section class='carrito-seccion-2'>
                    <h2>SOPORTE PARA COMPUTADORA PORTÁTIL</h2>
                    <section class="cantidadContainer">
                        <button class="masButton"><i class="fas fa-plus" style="
                            margin: 0;
                        "></i></button>
                        <p class="cantidad">1</p>
                        <button class="menosBotton"><i class="fas fa-minus"style="
                            margin: 0;
                        "></i></button>
                    </section>
                </section>
                <section class='carrito-seccion-3'>
                    <figure class='contendor-cruz'>
                        <i class="fas fa-times-circle"></i>
                    </figure>
                    <h2 class='precio-carrito'>
                        $2000
                    </h2>
                </section>
            </article>
        </section>
        <section class='contenedor-ultimo-carrito'>
        <section></section>
        <section>
        <section class='contenedor-subtotal'>
            <h2 class='subtotal'>
                SUBTOTAL
            </h2>
            <p class='precio-subtotal'>
                $7476
            </p>
        </section>
        <section class='impuestos-carrito'>
            <p> Impuestos y envíos calculados en el checkout</p>
        </section>
        <section class='contenedor-boton-actualizar'>
            <button class="actualizar-boton">
                Actualizar Carrito
            </button>
        </section>
        <section class='contenedor-boton-comprar'>
            <button class="agregarAlCarritoBoton">
                <i class="fas fa-lock" style="
                margin: 0px 9px;
            "></i>
                COMPRAR
            </button>
        </section>
        <section class='terminos-condiciones-carrito'>
            <p> Al hacer click, estás aceptando los <a href='#'>Terminos y Condiciones.</a></p>
        </section>
        </section>
        </section>
    </main>
        <!--Email Opt In -->
        <%- include('../partials/footer') %> 

</body>
</html>